{% extends "base.html" %}

{% block title %}Update Data{% endblock %}

{% block content %}
<div class="card shadow p-4 bg-white mx-auto" style="max-width: 500px;">
  <h3 class="text-center mb-4 text-white py-2 rounded" style="background: linear-gradient(to right, #0066cc, #00aaff);">Update Data</h3>

  <form action="{{url_for('update_data', id=id)}}" method="POST">
    <div class="mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input type="text" class="form-control" id="amount" name="amount" value="{{ user.amount }}">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" name="category" value="{{ user.category }}">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="{{ user.description }}">
    </div>
    <button type="submit" class="btn btn-success w-100">Submit</button>
  </form>
</div>
{% endblock %}




























