<!DOCTYPE html>
<html>
   <head>
      <title>Index Page</title>
   </head>
   <body>
      <h3>All Expenses</h3>
      <a href="/add_expense">ADD</a>
      <br>
      <table>
         <thead>
            <th>ID</th>
            <th>User_Id</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
            <th>date</th>
         </thead>
         {% for data in details %}
         <tbody>
            <td>{{data.id}}</td>
            <td>{{data.user_id}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.category}}</td>
            <td>{{data.description}}</td>
            <td>{{data.date}}</td>
           <!--  <td><a href="/delete/{{data.id}}" type="button">Delete</a></td> -->
         </tbody>
         {% endfor%}
      </table>
   </body>
</html>